body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg') no-repeat center center/cover;
  }
  
  .form-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px; 
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  input {
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #12b112; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
  }
  

  
  .login-link {
    margin-top: 10px;
    text-align: center;
  }
  
  .login-link a {
    color: #1623e0;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  